<div class="column-header">
    <div class="column-actions">
        <a class="add-feed" href=""><i class="icon-plus"></i></a>
        <a class="ajax" data-target="#feeds" href="{% url "feeds" %}"><i class="icon-refresh"></i></a>
    </div>
    Feeds
</div>
<ul class="scroll-list feeds">
    <li>
        <a class="feed ajax" data-target="#stories" href="{% url "unread" %}">
            <i class="icon-check-empty"></i>
            All Unread
        </a>
    </li>
    <li>
        <a class="feed ajax" data-target="#stories" href="{% url "starred" %}">
            <i class="icon-star"></i>
            Starred
        </a>
    </li>
    <li class="section">Subscribed Feeds</li>
    {% for feed in feeds %}
        <li class="{{ feed.status }}{% if feed.unread_count %} unread{% endif %}">
            <a class="feed ajax" data-target="#stories" data-feed="{{ feed.pk }}" href="{% url "feed" feed_id=feed.pk %}" title="{{ feed }}">
                <i class="icon-{% if feed.status == "error" %}warning-sign{% else %}globe{% endif %}"></i>
                {{ feed }}
                (<span class="unread">{{ feed.unread_count|default:0 }}</span>)
            </a>
        </li>
    {% endfor %}
</ul>
