<div class="column-header">
    <div class="column-actions">
        {% if feed.pk %}
        <a class="ajax" data-target="#story" href="{% url "feed-settings" feed_id=feed.pk %}"><i class="icon-cog"></i></a>
        {% endif %}
        <a class="all-read" data-feed="{{ feed.pk }}" href="{{ request_path }}"><i class="icon-check"></i></a>
        <a class="ajax" data-target="#stories" href="{{ request_path }}"><i class="icon-refresh"></i></a>
    </div>
    {% if show_back %}<a class="back" href="{% url "feeds" %}"><i class="icon-arrow-left"></i></a>{% endif %}
    {% if search %}
        <form id="search-form" action="{% url "search" %}" method="get">
            <input type="search" name="q" value="{{ title }}" autofocus="autofocus" />
            <input type="submit" value="Search" />
        </form>
    {% else %}
        {{ title }}
    {% endif %}
</div>
<ul class="scroll-list stories">
    {% for story in stories %}
        {% ifchanged story.date_published.date %}
        <li class="section">{{ story.date_published.date }}</li>
        {% endifchanged %}
        <li class="{% if story.is_read %}read{% endif %}" data-story="{{ story.ident }}">
            <a class="story ajax" data-target="#story" href="{{ story.get_absolute_url }}" title="{{ story }}">
                <span class="time">{{ story.date_published|date:"P" }}</span>
                <i class="icon-read-status"></i>
                {{ story }}
                {% if extra_info %}<span class="story-info">{{ story.feed }}{% if story.author %} &mdash; {{ story.author }}{% endif %}</span>{% endif %}
            </a>
        </li>
    {% empty %}
        <li class="message">No stories.</li>
    {% endfor %}
</ul>
