<div class="column-header">
    <div class="column-actions">
        <a class="all-read" data-feed="{{ feed.pk }}" href="{{ request_path }}"><i class="icon-check"></i></a>
        <a class="ajax" data-target="#stories" href="{{ request_path }}"><i class="icon-refresh"></i></a>
    </div>
    {% if show_back %}<a class="back" href="{% url "feeds" %}"><i class="icon-arrow-left"></i></a>{% endif %}
    {{ title }}
</div>
<ul class="scroll-list stories">
    {% for story in stories %}
        {% ifchanged story.date_published.date %}
        <li class="section">{{ story.date_published.date }}</li>
        {% endifchanged %}
        <li class="{% if story.is_read %}read{% endif %}" data-story="{{ story.ident }}">
            <a class="story ajax" data-target="#story" href="{{ story.get_absolute_url }}">
                <span class="time">{{ story.date_published|date:"P" }}</span>
                <i class="icon-read-status"></i>
                {{ story }}
                {% if extra_info %}<span class="story-info">{{ story.feed }} &mdash; {{ story.author }}</span>{% endif %}
            </a>
        </li>
    {% empty %}
        <li class="message">No unread stories.</li>
    {% endfor %}
</ul>
