{% load pipeline %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <title>{% block title %}Reader{% endblock %}</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <link href="http://fonts.googleapis.com/css?family=Oxygen:400,700" rel="stylesheet" type="text/css" />
        {% stylesheet "reader" %}
        <style>body { background-color: #fff; font-size: 16px; }</style>
        {% block css %}{% endblock %}
    </head>
    <body>
        {% block content %}{% endblock %}
        {% block js %}{% endblock %}
    </body>
    {% include "analytics.html" %}
</html>
