body {
    background-color: #222;
    font-family: 'Oxygen', sans-serif;
    margin: 0px;
    padding: 0px;
}

h1 { margin: 0px; padding: 10px 20px; font-size: 24px; }
h1 a { color: #777; text-decoration: none; }

.column {
    position: absolute;
    top: 54px;
    bottom: 20px;
    background-color: #fff;
}

.column.feeds { left: 20px; width: 300px; }
.column.stories { left: 340px; width: 400px; }
.column.reader { left: 760px; right: 20px; }

.column-header {
    height: 40px;
    line-height: 40px;
    padding: 0px 10px;
    border-bottom: 1px solid #aaa;
    font-weight: bold;
}

.column-actions {
    float: right;
}

.column-actions a { color: #000; margin-left: 10px; text-decoration: none; }

.column ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    display: block;
    position: absolute;
    top: 41px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    overflow: auto;
}
.column li { padding: 0px; margin: 0px; }
.column li a {
    display: block;
    padding: 10px;
    border-bottom: 1px dotted #ddd;
    color: #555;
}

#content {
    padding: 10px;
    position: absolute;
    top: 41px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    overflow: auto;
}
#content p { margin: 0px 0px 15px 0px; padding: 0px; }