body {
    background-color: #222;
    font-family: 'Oxygen', sans-serif;
    font-size: 14px;
    margin: 0px;
    padding: 0px;
}

h1 { margin: 0px; padding: 10px 20px; font-size: 24px; }
h1 a { color: #777; text-decoration: none; }

.column {
    position: absolute;
    top: 54px;
    bottom: 20px;
    background-color: #fff;
}

#feeds { left: 20px; width: 300px; }
#stories { left: 340px; width: 400px; }
#story { left: 760px; right: 20px; }

@media all and (max-width: 1280px) and (min-width: 500px) {
    #feeds { left: 2%; width: 47%; height: 300px; }
    #stories { left: 51%; width: 47%; height: 300px; }
    #story { top: 374px; left: 2%; right: 2%; bottom: 20px; }
}

.column-header {
    height: 40px;
    line-height: 40px;
    padding: 0px 10px;
    border-bottom: 1px solid #aaa;
    font-weight: bold;
    box-shadow: 0px 1px 2px #ccc;
}

.column-header a.back { color: #000; margin-right: 10px; text-decoration: none; }

.column-actions { float: right; }
.column-actions a { color: #000; margin-left: 10px; text-decoration: none; }

.column-title { display: inline-block; max-width: 80%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }

.mobile-prompt { display: none; }
@media all and (max-width: 480px) {
    .mobile-prompt { display: block; text-align: center; padding: 10px; font-size: 16px; background-color: #ffa; }
    .column-title { max-width: 65%; }
}

ul.scroll-list {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    display: block;
    position: absolute;
    top: 41px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
ul.scroll-list li { padding: 0px; margin: 0px; border-bottom: 1px dotted #ddd; }
ul.scroll-list li.section { padding: 10px; text-align: center; color: #999; border-bottom: 1px dotted #ddd; font-size: 12px; }
ul.scroll-list li.message { padding: 10px; text-align: center; color: #999; }
ul.scroll-list li a {
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
ul.scroll-list li.selected { background-color: #444; }
ul.scroll-list li.selected a { color: #fff; }

span.time { float: right; color: #999; font-size: 11px; margin: 2px 0px 0px 5px; }
span.story-info { float: left; width: 90%; margin-top: 3px; font-size: 80%; color: #999; margin-left: 22px; }
div.story-info { margin-bottom: 15px; font-style: italic; }

div.scroll-content {
    padding: 10px;
    position: absolute;
    top: 41px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    overflow: auto;
    line-height: 1.5em;
    -webkit-overflow-scrolling: touch;
}
div.scroll-content p { margin: 0px 0px 15px 0px; padding: 0px; }
div.scroll-content img { max-width: 100%; }

.feeds li.error a { color: red; }
.stories li.read a { color: #aaa; }

.stories li a i:before { content: "\f096"; }
.stories li.read a i:before { content: "\f046"; }

a.starred i:before { content: "\f005"; }
a.unstarred i:before { content: "\f006"; }

a.read i:before { content: "\f046"; }
a.unread i:before { content: "\f096"; }

#fade {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 99;
    background-color: #000;
    opacity: 0.35;
    display: none;
}
#dialog {
    position: absolute;
    top: 100px;
    left: 218px;
    border: 2px solid #222;
    background-color: #fff;
    z-index: 100;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0px 0px 8px #222;
    display: none;
}
#dialog .arrow {
    position: absolute;
    width: 0;
    height: 0;
    left: 40px;
    top: -15px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #222;
}
#dialog input {
    display: block;
    width: 450px;
    padding: 5px;
    margin-top: 5px;
    font-size: 16px;
}
