{% extends "base.html" %}

{% block css %}
<style>
    #stories { left: 20px; width: 400px; }
    #story { left: 440px; right: 20px; }
</style>
{% endblock %}

{% block content %}
<div id="stories" class="column autoload" data-autoload-url="{% url "unread" %}">
</div>

<div id="story" class="column">
</div>

<div id="fade"></div>
<div id="dialog">
    <div class="arrow"></div>
    <form action="{% url "feeds" %}" method="post">
        {% csrf_token %}
        Enter the URL of a website or RSS/Atom feed below:
        <input type="text" class="add-feed" name="url" value="http://" />
    </form>
</div>
{% endblock %}
