{% extends "base.html" %}

{% block content %}
<div id="feeds" class="column feeds autoload" data-autoload-url="{% url "feeds" %}">
</div>

<div id="stories" class="column">
</div>

<div id="story" class="column">
</div>

<div id="fade"></div>
<div id="dialog">
    <div class="arrow"></div>
    <form action="{% url "add-feed" %}" method="post">
        {% csrf_token %}
        Enter the URL of a website or RSS/Atom feed below:
        <input type="text" class="add-feed" name="url" value="http://" />
    </form>
</div>
{% endblock %}
